DB_DATABASE= # Name database
DB_USER= # User database
DB_PASSWORD= # Password database
DB_HOST= # Host database
DB_PORT= # Port database
DB_DIALECT= # For database postgresql install pg drive, dialect pg